/* Add your code in each class */
body {
  background-color: #1b0c2c
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.movie-card {
 height: 300px;
 width: 300px;
 position: relative;
}
.movie-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: 100% 5%;
  
}
.movie-details-container {
}
.descriptions {
  padding: 0 0 0 8px;
  color: aliceblue;
  position:absolute;
  top: 59%;
}


/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-size: 15px;
  font-weight:bold;
}
